.org-section{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap:25%;
    padding: 30px 10%;
    position: relative;
}

.org-section__title{
    color:var(--color-dark,blue);
    font-size: 40px;
    font-weight: 400;
    padding-bottom: 24px;
    border-bottom: 4px solid var(--color-dark,blue);
}

.org-section__add{
    
}