*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.option-list{
    width: 100%;
    font-family: 'Montserrat', sans-serif;
}

.option-list label{
    font-size: 18px;
    font-weight: 600;
    display: block;
    margin-bottom: 8px;
}   

.option-list select{
    width: 100%;
    background-color: #fff;
    box-shadow: 2px 2px 4px -1px #0001;
    border-style: none;
    padding: 30px 20px;
    outline-color: #6278F7;
    font-size: 16px;
}

.option-list option{
    font-size: 12px;
}