*{
    box-sizing: border-box;
}
.input{
    margin-bottom: 10px;
    font-family: 'Montserrat', sans-serif;
}
.input label{
    font-size: 18px;
    font-weight: 600;
    display: block;
    margin-bottom: 8px;
}

.input input{
    width: 100%;
    background-color: #fff;
    box-shadow: 2px 2px 4px -1px #0001;
    border-style: none;
    padding: 30px 20px;
    outline-color: #6278F7;
    font-size: 16px;
}

.input--color input{
    height: 40px;
    padding: 5px 20px;
}