.coworker{
    --background-higligth: #fff;
    flex-shrink: 1;
    width: 262px;
    height: 272px;
    background-image: linear-gradient(to bottom, var(--background-higligth) 0% 30%, var(--color-albar) 30% 100%);
    display: flex;
    justify-content:space-evenly;
    flex-direction: column;
    align-items:center;
    padding: min(5%,20px);
    row-gap: min(5%,20px);
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    position: relative;
}
    
    .coworker__delete{
        position: absolute;
        top:0;
        right: 0;
        z-index: 3;
        font-size: 20px;
        color: #fff;
        margin: 10px;
    }

    .coworker__image{
        width: 60%;
        object-fit: cover;
        object-position: center top;
        clip-path: circle(50% at 50% 50%);
    }
        
    .coworker__info{
        width: 100%;
    }
        .coworker__name{
            font-size: 18px;
            font-weight: 600;
            color: var(--color-dark);
            margin: 0;
        }
        .coworker__job{
            font-size: 16px;
            font-weight: 400;
            color: var(--txt-color-primary);
        }