.button{
    margin: 32px 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    background: #6278F7;
    color: #FFF;
    border-radius: 10px;
    font-weight: 700;
    border-style: none;
    cursor: pointer;
    padding: 24px 32px;
}

.button:hover{
    color:#95FFD4;
}