*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.form{
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    width: 100%;
    padding: 30px 5%;
}
.form form{
    max-width: 100%;
    background-color: #F7F7F7;
    box-shadow: 2px 2px 4px -2px #000000;
    border-radius: 20px;
    padding: 20px 5%;
}

.form form h2{
    margin: 0;
    font-size: 32px;
    font-weight: 400;
    color:#212121;
    margin-bottom: 10px;
}