.team{
    width:100%;
    /* background-color: var(--bkg-team-a); */
    /* background: #00000080;
    background: #00000099;
    background: #000000b3;
    background: #000000cc; */
    padding: 32px;
    text-align: center;
    font-size: 32px;
    position: relative;
}

.team__color{
    position: absolute;
    top: 32px;
    right: 32px;
}

.team__title{
    display: inline-block;
    font-weight: 400;
    color: var(--txt-color-primary);
    padding-bottom: 8px;
    border-bottom-width: 4px;
    border-bottom-style: solid;
}

.team__list{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: min(5%,20px);
}
