.endboard{
    width: 100%;
    position: relative;
    background-color: var(--color-dark);
    background-image: var(--image);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 40px;
}

.endboard__social{
    display: flex;
    gap: 20px;
}

.endborad__credits{
    color: #fff;
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 20px;
}