/* @import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Prata&display=swap'); */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --color-dark: #6278F7;
    --color-ligth: #95FFD4;
    --color-silver: #F2F2F2;
    --color-albar: #FFFFFF;

    --txt-color-primary: #212121;

}